html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden -webkit-font-smoothing : antialiased;
}

body {
    min-height: 100%;
    font-family: 'Merriweather Sans', sans-serif;
}

a, a span {
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.jumbotron p, p {
    font-size: .9em;
    font-weight: 400;
    line-height: 1.8em;
    margin: 20px 0
}

.page-wrapper {
    position: relative;
    left: 0;
    -webkit-transition: all .4s ease-in 0s;
    -moz-transition: all .4s ease-in 0s;
    -ms-transition: all .4s ease-in 0s;
    -o-transition: all .4s ease-in 0s;
    transition: all .4s ease-in 0s
}

.jumbotron {
    background: 0 0;
    text-align: center;
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative
}

.jumbo-inner-wrapper {
    padding: 3em 0;
    display: table-cell;
    vertical-align: middle
}

.top {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    float: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em
}

mask {
    background: #FFFF45
}

/*@-webkit-keyframes arrows {*/
/*0%, 100%, 20%, 50%, 80% {*/
/*bottom: 10px*/
/*}*/
/*40% {*/
/*bottom: 30px*/
/*}*/
/*60% {*/
/*bottom: 15px*/
/*}*/
/*}*/

/*.arrow {*/
/*position: relative;*/
/*bottom: 10px;*/
/*opacity: .6;*/
/*text-align: center;*/
/*-webkit-animation: arrows 2s infinite;*/
/*-moz-animation: arrows 2s infinite;*/
/*-o-animation: arrows 2s infinite;*/
/*animation: arrows 2s infinite*/
/*}*/

/*.arrow a i {*/
/*color: #fff*/
/*}*/

/*.dark-arrow {*/
/*color: #3366a4 !important*/
/*}*/

.dark {
    color: #AAA
}

.jumbotron#minibio {
    background: 0 0;
    text-align: center;
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative
}

.jumbotron#projects {
    /*background: rgba(255, 255, 255, 0.16);*/
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 0
}

.jumbotron#about {
    margin-bottom: 0;
    color: #fff;
    background-color: #111 !important;
    background: url(images/congruent_outline.png) repeat center center;
    background-size: auto auto;
}

.jumbotron .about-wrapper {
    background: rgba(51, 102, 164, 0.43);
}

.jumbotron#work {
    background: #64C2E8;
    margin-bottom: 0;
    color: #fff;
    border-radius: 2px 2px 0 0;
}

.banner-img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    /*position: absolute;*/
    top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.banner-proj-img {
    width: auto;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    /*position: absolute;*/
    top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}

ul, ol {
    padding-left: 25px;
}

body {
    background-color: #111;
    color: #eee;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 12px;
    margin: 0 0 0 4px;
}

.work-title {
    letter-spacing: 2px !important;
    /*color: #3a3a3a !important;*/
}

@media (max-width: 767px) {
    body h1 {
        letter-spacing: 5px;
        font-size: 40px;
    }
}

h1 a {
    color: #eee;
}

h1 a:hover {
    text-decoration: none;
}

ul {
    margin: 25px 0 0;
}

ul li {
    padding-bottom: 20px;
}

ul a {
    color: #ddd;
    font-weight: 700;
}

ul a span {
    color: #888;
    font-weight: 300;
    padding-right: 2px;
}

ul.contact {
    list-style: none;
    text-align: center;
    padding: 0;
    -webkit-padding-start: 0;
}

ul.contact li {
    display: inline-block;
    margin: 0 10px;
}

ul.contact li a {
    color: grey;
}

ul.contact li a img {
    height: 50px;
    width: 50px;
}

#pfacebook:hover #facebook {
    fill: #3b5998;
    transition-property: fill;
    transition-duration: 1s;
}

#pfacebook #facebook {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 1s;
}

#pandroid:hover #android {
    fill: #a4c639;
    transition-property: fill;
    transition-duration: 1s;
}

#pandroid #android {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 1s;
}

#agog:hover #gog {
    fill: #da4835;
    transition-property: fill;
    transition-duration: 1s;
}

#agog #gog {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 1s;
}

#pmail:hover #mail {
    fill: #ebc411;
    transition-property: fill;
    transition-duration: 1s;
}

#pmail #mail {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 1s;
}

#ptwitter:hover #twitter {
    fill: #55acee;
    transition-property: fill;
    transition-duration: 1s;
}

#ptwitter #twitter {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 1s;
}

#pgit:hover #git {
    fill: #000000;
    transition-property: fill;
    transition-duration: 1s;
}

#pgit #git {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 1s;
}

#plinkedin:hover #linkedin {
    fill: #1060A5;
    transition-property: fill;
    transition-duration: 1s;
}

#plinkedin #linkedin {
    fill: #ffffff;
    transition-property: fill;
    transition-duration: 1s;
}

.single-item-title a {
    text-decoration: none;
    color: #5268ff;
    font-weight: bolder;
}

.m_row {
    margin-top: 5%;
!important
}

.n_row {
    margin-top: 2%;
}

.row {
    margin: 0 auto 30px
}

@media screen and (min-width: 320px) and (max-width: 568px) {
    body {
        font-size: 13pt
    }

    .row {
        margin: 0 auto
    }

    #work {
        margin-top: 100px;
    }
}

@media screen and (max-height: 445px) {
    body {
        font-size: 13pt
    }

    .row {
        margin: 0 auto
    }

    #work {
        margin-top: 200px;
    }
}

small.text {
    font-size: .6em;
    color: #fff;
    opacity: .5
}

#menu-toggle {
    top: 3px;
    left: 3px;
    position: fixed;
    z-index: 1;
}

#menu-close {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-top: 6px;
    margin-top: 4px;
    margin-right: 4px;
}

#menu-close:hover {
    padding-top: 6px;
    margin-top: 4px;
    margin-right: 4px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #546E7A;
    height: 50px;
    width: 50px;
}

#menu-close:hover #toggle-back {
    fill: #ffffff;
}

#sidebar {
    font-family: 'Roboto', sans-serif;
    margin-left: -200px;
    left: 0;
    display: block;
    vertical-align: middle;
    width: 200px;
    background: #ffffff;
    position: fixed;
    height: 50%;
    margin-top: 7%;
    z-index: 1000;
    float: left;
    -webkit-transition: all .4s ease-in 0s;
    -moz-transition: all .4s ease-in 0s;
    -ms-transition: all .4s ease-in 0s;
    -o-transition: all .4s ease-in 0s;
    transition: all .4s ease-in 0s
}

#sidebar.active {
    left: 200px;
    width: 200px
}

.sidebar-nav {
    position: absolute;
    /*top: 70px;*/
    width: 200px;
    list-style: none;
    padding: 0
}

#sidebar a {
    text-decoration: none;
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: #000000;
    cursor: pointer;
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    height: 50px;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s
}

#sidebar a i {
    text-decoration: none;
    margin-right: 15px
}

#sidebar a svg {
    text-decoration: none;
    margin-right: 15px;
}

#sidebar a:hover {
    color: #fff;
    background: #546E7A;
    text-decoration: none;
}

#sidebar a:hover svg {
    fill: #fff;
}

#sidebar a:active {
    color: #fff;
    background: #263238;
    text-decoration: none;
}

.single-item {
    padding: 2% !important;
}

.m-header {
    margin-bottom: 3% !important;
}

.subtle-sep {
    height: 1px;
    position: relative;
    /*width: 100%;*/
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.48)), to(transparent));
    background: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background: linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    /*margin: 15px 0 40px 0;*/
    margin-left: 20%;
    margin-right: 20%;
}

.nav-item-text {
    color: #ffffff;
}

.box h3 {
    text-align: center;
    position: relative;
    top: 80px;
}

.box {
    width: 70%;
    /*height:200px;*/
    background: #444444;
    margin: 40px auto;
    border-radius: 2px;
}

/*==================================================
 * Effect 1
 * ===============================================*/
.effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #050505;
    -moz-box-shadow: 0 10px 6px -6px #050505;
    box-shadow: 0 10px 6px -6px #050505;
}

.subtle-sep {
    height: 1px;
    position: relative;
    /*width: 100%;*/
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.48)), to(transparent));
    background: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    background: linear-gradient(left, transparent, rgba(255, 255, 255, 0.75), transparent);
    /*margin: 15px 0 40px 0;*/
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.subtle-sep-black {
    height: 1px;
    position: relative;
    /*width: 100%;*/
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(97, 97, 97, 0.48)), to(transparent));
    background: -webkit-linear-gradient(left, transparent, rgba(29, 29, 29, 0.75), transparent);
    background: linear-gradient(left, transparent, rgba(19, 19, 19, 0.75), transparent);
    /*margin: 15px 0 40px 0;*/
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/*==================================================
 * Effect 3
 * ===============================================*/
.effect3
{
    position: relative;
}
.effect3:before
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
    position: relative;
}
.effect4:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

/*==================================================
 * Effect 5
 * ===============================================*/
.effect5
{
    position: relative;
}
.effect5:before, .effect5:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.effect5:after
{
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

#circle{
    border-radius:50% 50% 50% 50%;
    width:250px;
    height:250px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 4%;
    margin-bottom: 4%;
}